.flowchart{
    margin: 2rem 8rem;
    padding: 1rem;
    display: flex;
    position: relative;
    justify-content: center;
}
.grid{
    display: grid;
}
.alu{
    width: 150px;
    border: 3px solid black;
    background-color: #F0F0F0;
    padding: 40px 0;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
/* .pc-green {
    color: rgba(0, 128, 0, 0.568);
  }
.mar-green {
    color: rgba(49, 202, 49, 0.58);
  } */
.invisible{
    visibility: hidden;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
    
}
.but{
    background-color: #408E91;
}
